* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: #fffffc;
}

.product {
  position:relative;
  width: 100%;
  cursor: pointer;
}

nav {
  height: 4rem;
  display: flex;
  justify-content: center;
}

.product-rect {
  transition: fill-opacity .2s ease-in-out;
}

main {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity .25s ease-in;
}